In [1]:
from powerbiclient import QuickVisualize, get_dataset_config, Report

In [2]:
from powerbiclient.authentication import DeviceCodeLoginAuthentication
from powerbiclient.authentication import InteractiveLoginAuthentication

In [3]:
import pandas as pd

In [4]:
import sqlite3

cnx = sqlite3.connect(r'/Users/pagalavanmanoharan/Documents/GitHub/ExpenseSense-AI/Files/PythonFiles/Database/Database.db')
cursor = cnx.cursor()

# List all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in the database:", tables)

Tables in the database: [('Expenses',), ('Budget',)]

In [5]:
import os

path = '/Users/pagalavanmanoharan/Documents/GitHub/ExpenseSense-AI/Files/PythonFiles/Database/Database.db'
print("Absolute path you're connecting to:", os.path.abspath(path))
print("Does the file exist?", os.path.exists(path))

Absolute path you're connecting to: /Users/pagalavanmanoharan/Documents/GitHub/ExpenseSense-AI/Files/PythonFiles/Database/Database.db
Does the file exist? True

In [6]:
import pandas as pd
# Create your connection.
cnx = sqlite3.connect(r'/Users/pagalavanmanoharan/Documents/GitHub/ExpenseSense-AI/Files/PythonFiles/Database/Database.db')
df = pd.read_sql_query("SELECT * from Expenses", cnx)
df

    label amount    tags
0    Food    500    Food
1  Travel   1000  Travel

In [7]:
df

    label amount    tags
0    Food    500    Food
1  Travel   1000  Travel

In [8]:
cnx2 = sqlite3.connect(r'/Users/pagalavanmanoharan/Documents/GitHub/ExpenseSense-AI/Files/PythonFiles/Database/Database.db')

df = pd.read_sql_query("SELECT * FROM Budget", cnx2)
df

    label amount
0  Budget   5000
1   Bonus   1000

In [9]:
auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code NU8ZHCM6R to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

In [10]:
PBI_vis = QuickVisualize(get_dataset_config(df), auth = auth)

In [11]:
PBI_vis

QuickVisualize()

In [12]:
# Example DataFrame for Pie Chart
df_pie = pd.DataFrame({
    'Category': ['A', 'B', 'C', 'D'],
    'Value': [15, 25, 35, 25]
})

In [14]:
# Embed the Pie Chart in Power BI
PBI_pie_vis = QuickVisualize(get_dataset_config(df_pie), auth=auth)

# Display Pie Chart Visualization
PBI_pie_vis  # This will display the Power BI Pie Chart visualization in JupyterLab

QuickVisualize()

IntSlider(value=0)